<p>
  Press the button below to start an async call. You'll see it becoming disabled during async call data transfer:
</p>
<button type="button" [ngxDisableDuringAjax] (click)="getWaterPokemon()">Press me for async call</button>



<div *ngIf="(items$ | async)?.length !== 0; else loading">
<p>Here are all the water pokemon:</p>
  <ul>
    <li *ngFor="let item of items$ | async">{{item.name | titlecase}}</li>
  </ul>
</div>

<ng-template #loading>
<div style="margin-top: 20px;">Press the button above.</div>
</ng-template>

<hr />

<div style="margin-top: 40px;">
  <p>This button is part of a form where the first name is required. We want to disable the button until the field is complete.</p>
  <form [formGroup]="myForm" novalidate>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <button type="button" [ngxDisableDuringAjax]="myForm">This button is linked to a form</button>
  </form>
</div>